<%- include("shared/nav") %>

  <main class="min-h-screen px-4 py-6">
    <div class="relative">
      <img class="w-44 mx-auto" src="https://vitejs.dev/logo-with-shadow.png" alt="" />
      <div class="absolute flex justify-center items-center top-0 -z-50 opacity-80 h-full w-full">
        <div class="h-40 w-60 blur-3xl bg-gradient-to-b from-sky-600 to-fuchsia-500">
          
        </div>
      </div>
    </div>

  <h1 class="text-center text-4xl text-black font-bold">
    <p class="inline bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">
      Vite
    </p>
    <p>Next Generation Frontend Tooling</p>
  </h1>

  <p class="text-center text-[18px] text-gray-600 mt-2">
    Get ready for a development environment that can finally catch up with you.
  </p>
</main>

<%- include("shared/footer") %>