<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#f8f8f8" />
    <meta name="author" content="fazle-rabbi" />
    <title>Ejs - App</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/globals.css" type="text/css" media="all" />
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.0.0/dist/iconify-icon.min.js"></script>
    <script src="js/globals.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
        eruda.init();
    </script>
</head>
<body>
    <header class="py-2 px-4 md:py-4 md:px-8">
        <div class="flex items-center justify-between">
            <a class="flex items-center gap-1" href="#">
                <img class="w-[25px]" src="https://vitejs.dev/logo.svg" alt="" />
                <span class="font-bold">Vite</span>
            </a>
            <nav class="">
                <button type="button">
                    <iconify-icon icon="heroicons-solid:menu-alt-1" width="27" height="27"></iconify-icon>
                </button>
            </nav>
        </div>
    </header>
